:root {
  --branding-color: #2a9d8f;
}

.bg-navbar {
  background-color: #03045e;
}
.navbar-brand,
.navbar-nav a {
  color: white;
}

.navbar-nav a:hover {
  color: #198754;
}

body {
  background-color: var(--branding-color);
}
.hero-section {
  padding: 40px 20px;
}
h1 {
  font-size: 70px;
  padding: 70px;
  color: white;
}

.store {
  background-color: var(--branding-color);
}
